
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@section currentMounth{
    <h3>@DateTime.Today.Month</h3>
}

@section currentYear{
    <h3>@DateTime.Today.Year</h3>
}

